* {
  margin: 0px;
  padding: 0px;
  /* disable text highlighting in general (an issue in chrome mobile) */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: monospace;
}

body {
  background-color: rgb(65, 65, 65);
}

#canvas-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tutorial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;

  color: white;
  background-color: rgba(65, 65, 65, 0.5);

  font-size: 2.5vw;
  text-align: center;

  border-radius: 20px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#info {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 10px;

  color: white;
  background-color: rgba(65, 65, 65, 0.5);

  font-size: 2.5vw;
  text-align: center;

  border-radius: 20px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#controls {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: rgba(65, 65, 65, 0.5);
}

#controls button {
  color: black;
  font-size: 3.5vw;

  background-color: darkkhaki;

  border-style: solid;
  border-width: 4px;
  border-radius: 12px;

  padding: 10px;
  margin: 0.5vw 0.6vw;
}

#controls button:active {
  filter: contrast(0.5);
}

#controls .accelerator {
  background-color: greenyellow;
}
#controls .brakes {
  color: white;
  background-color: red;
}
#controls .steering {
  background-color: lightblue;
}

#debug-toggles {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggle {
  color: white;
  background-color: rgba(65, 65, 65, 0.75);

  margin: 6px;
  padding: 12px;

  font-size: 1.8vw;

  border-style: solid;
  border-width: 4px;
  border-radius: 12px;
}

.link {
  color: rgb(211, 211, 255);
  font-style: oblique;
}

/* animation */
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeIn {
  from{opacity: 0;}
  to {opacity: 1;}
}

.fade-in {
  animation: fadeIn 1s both;
}
.fade-out {
  animation: fadeOut 10s both;
}
