* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(65, 65, 65);
}

#canvas-body {
  margin: 10vh 20vw;
}

#info {
  color: white;
  background-color: transparent;
  font-size: 2.5vw;
  position: absolute;
  top: 8vh;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#controls {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 0px;
}

#controls button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  font-size: 3.5vw;
  background-color: darkkhaki;
  padding: 2px;
  margin: 4px;
}

#controls .accelerator {
  background-color: greenyellow;
}
#controls .brakes {
  color: white;
  background-color: red;
}
#controls .steering {
  background-color: lightblue;
}

.toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  margin-right: 2px;
  padding: 2px;
  font-size: 2vw;
}